.cardContainer {
    border-radius: 30px;
    height: 330px;
    width: 90%;
    margin-top: 2%;
    margin-bottom: 10px;
    margin-left: 6%;
    background-color: #FFF;
    box-shadow: 0 2px 2px 0 rgb(153 153 153 / 14%), 0 3px 1px -2px rgb(153 153 153 / 20%), 0 1px 5px 0 rgb(153 153 153);
    text-align: center;
    padding: 5px;
}
.cardImage {
    margin-top: -15px;
    width: 90%;
    height: 180px;
    border-radius: 15px;
}

.cardTitle{
    font-weight: 600;
    font-family: 'Roboto';
    font-size: 20px;
    height: 40px;
    color: rgba(0, 0, 0, 0.685);
}

.dietsText{
    font-weight: 500;
    margin-left: 104px;
    width: 50%;
    color: rgba(0, 0, 0, 0.596);
    text-align: center;
}